html {
    font-size: 4px;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #F7F8FA;
    font-family: 'Encode Sans Condensed', sans-serif;
}

/**
滚动条
*/
::-webkit-scrollbar {
    background-color: #E5E6EB;

    &:hover {
        background-color: #C9CDD4;
    }
}